<h1>Reset your {{conf.sitename}} Password</h1>

{{firstname}},

<br /><br />
To reset your password, click on the link below: <br />
<a href="{{conf.html_webroot|raw}}/#/set-password/{{user_id|raw}}/{{password_reset_code|raw}}">{{conf.html_webroot}}/#/set-password/{{user_id|raw}}/{{password_reset_code}}</a><br/><br />

Thanks,<br /><br />

The {{conf.sitename}} Team! 
<br /><br />
