<h1>Hello and welcome to {{conf.sitename}}!</h1>

{{firstname}},
<br /><br />
{{conf.sitename}} is here to help personalize your travel experience. 
<br /><br />
To get started, please confirm your email and set a password:<br />
<a href="{{conf.html_webroot|raw}}/#/set-password/{{user_id|raw}}/{{password_reset_code|raw}}">{{conf.html_webroot|raw}}/#/set-password/{{user_id|raw}}/{{password_reset_code|raw}}</a><br/><br />

Thanks,<br /><br />

The {{conf.sitename}} Team! 
<br /><br />
